include header
include admin-header 
div.container(style='margin-bottom: 70px;') 
  h2.text-center.mb-4 Категории
  a(href="/admin") Админка
  block content
  h2.mb-4 Добавление категории
    form(action='/admin-goods', method='POST')
      .input-group.mb-3
        input.form-control(type='text', name='category', placeholder='Введите имя категории')
        button.btn.btn-success(type='submit') Добавить    
    each category in categories
      .category.card.mb-3
        .card-body.d-flex.justify-content-between.align-items-center
          p.card-text.mb-0.flex-grow-1 #{category.category}
          form()
            button.btn.btn-primary.m-2(type='submit', data-category-id=category.id) Изменить

          form(action=`/admin-goods/${category.id}/delete`, method='POST', onsubmit='return confirm("Вы точно хотите удалить эту категорию?");')
            button.btn.btn-danger(type='submit') Удалить

// Модальное окно для изменения категории
#editModal.modal
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Изменение категории
        button.close(type='button', data-dismiss='modal') &times;
      .modal-body
        input.form-control(type='text', name='newCategory')
      .modal-footer
        button.btn.btn-secondary.cancel-button(type='button', data-dismiss='modal') Отменить
        button.btn.btn-primary.save-button Сохранить   

script(src='js/admin-goods.js')
include footer 