div.footer.fixed-bottom.bg-primary.text-light
    div.container
        div.row
            div.col-12.text-center
                | StreetShop Комолов и К. Все права зарегистрированы!
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@11')
script(src='js/nav.js')
script(src='js/card.js')

