include header
include site_header
.container
  .row.justify-content-center
    .col-md-6
        form(action="/login", method="POST")
            .form-group
                label(class="form-label") Логин:
                input(class="form-control"  placeholder="name@example.com" name="login" id="login" value="admin")
            .form-group
                label(class="col-sm-2 col-form-label") Пароль:
                input(type="password" class="form-control" name="password"  value="123"  id="password")
            
            input(type="submit", value="Вход" class="btn btn-primary")
include footer.pug

