form(action="/login", method="POST")
    label Логин
    input(name="login", value="admin", id="login")
    label Пароль
    input(type="password", name="password", value="123", id="password")
    input(type="submit", value="login")


//script(src="js/login.js")