div(class='container max-width bg-warning')
  div(class='row')
    div(class='col col-lg-1 col-md-1 p-2')
      button(class="show-nav btn btn-outline-success navbar") <i class="fa-solid fa-bars fa-2xs"></i>
    div(class='col col-lg-11 col-md-11')
      a(href='/')
        h1 Lite Shop
